<h3><%= @user.name %></h3>

  <p>
    <b>About Me:</b>
  </p>

  <p>
    <b>Where I Live:</b>
  </p>

  <p>
<<<<<<< HEAD
    <b>Favorite Tattoo Artist:</b>
  </p>

  <p>
    <b>The Craziest Thing Anyone's Ever Asked Me About My Tattoo:</b>
    <%= best_in_place @user, :memorable_story, :type => :textarea %>  
=======
    <b>Favorite Tattoo Artists:</b>
  </p>

  <p>
    <b>Favorite Story About My Tattoos:</b>
    <%= best_in_place @user, :memorable_story, :type => :textarea, :ok_button => "save" %>  
>>>>>>> best_in_place
  </p>


<% @tattoos.each do |tattoo| %>
	<div class= "user_tat">
		<%= link_to image_tag(tattoo.picture_url(:large_medium_square)), tattoo %>
	</div>
<% end %>

