<h1>Edit a Tattoo</h1>

<%= render 'form' %>

<%= link_to 'Show', @tattoo %> |
<%= link_to 'Delete', @tattoo, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tattoos_path %>


    