<div id="banner_img">
<!--   Micah<br>
  Developer<br>
  Inked at SHOP in Austin, TX<br>
  Inspired by painter Mike Ming -->
</div>

<!-- Masonry Container -->
    <div id="masonryContainer">
        <% if @tattoos %> 
          <% @tattoos.each do |tattoo| %>
            <div class="masonry-brick">
            <%= link_to image_tag(tattoo.picture_url(:medium)), tattoo %>
            </div>
          <% end %>
         <% end %> 
      <!-- <div class ="masonry-brick">
        <img src="http://placehold.it/500x600&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x600&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x700&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x400&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x200&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x300&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x600&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x700&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x400&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x200&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x200&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x300&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x600&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x700&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x400&text=Item">
      </div>
      <div class="masonry-brick">
        <img src="http://placehold.it/500x200&text=Item">
      </div> -->
    </div>