<h1>Listing tattoos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tattoos.each do |tattoo| %>
  <tr>
    <td><%= link_to 'Show', tattoo %></td>
    <td><%= link_to 'Edit', edit_tattoo_path(tattoo) %></td>
    <td><%= link_to 'Destroy', tattoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tattoo', new_tattoo_path %>
