/ .row
/ 	.hashtatabout.large-12.columns
/ 		= image_tag("hashlogo.png")
/ 	.large-4.columns.panel
/ 		= "tina"
/ 	.large-4.columns.panel
/ 		= "shannon"
/ 	.large-4.columns.panel
/ 		= "doa"

%p
  H A S H T A T is a community for tattoo art and the stories behind them.
  %p
    %p
      3 art-loving women, Tina (@tinapshah), Shannon (@), and Doa (@), learned how to code a website in 10 weeks, resulting in hashtat.com. They attended Austin's first development bootcamp, MakerSquare, and did not know a lick of code prior to the experience.
      %p
        %p
          H A S H T A T lives through both the emotional and financial support from those that profoundly care about creation, community and art. We thank you kindly for your support.
          %p
            %p
              Add a Donate button
              %p
                %p
                  We stand on the shoulders of those patient few teachers that believed in us and who inspire us to keep building.
                  %p
                    %p
                      Credits: MakerSquare founders and classmates, Matt Tschlogel, Sonny Gonzales, Silas Rioux, Matthew Buck, Mike Ornellas, Nathaniel Jones, Micah Frazier, Aron Scruggs, Scott Bellware, Mando Escamilla, Damon Clinkscales, Christina Day, Sam Kapila, Nick Zadrozny, and Andres Angulo.
                      %p
                        %p
                          Contact us @mrhastat or mrhashtat@gmail.com
                          %p

