#banner_img
  -#Micah<br>
  -#Developer<br>
  -#Inked at SHOP in Austin, TX<br>
  -#Inspired by painter Mike Ming

/ Masonry Container
#masonryContainer
  -@tattoos.each do |tattoo|
    .masonry-brick
      .image-bar
        =link_to image_tag(tattoo.picture_url(:medium)), tattoo
      .hover-bar
        - if !current_user.voted_for?(tattoo)
          .blackandwhite= link_to image_tag('likemom.png', size:'40x40') + "#{tattoo.votes_for}", vote_up_tattoo_path(tattoo), :method => :post, remote: true
        - else
          .color= link_to image_tag('likemom.png', size:'40x40') + "#{tattoo.votes_for}", vote_down_tattoo_path(tattoo), :method => :post, remote: true
  .masonry-brick
    %img{:src=>"http://placehold.it/500x600&text=Item"}
  .masonry-brick
    <img src="http://placehold.it/500x600&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x700&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x400&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x200&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x300&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x600&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x700&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x400&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x200&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x200&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x300&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x600&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x700&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x400&text=Item">
  .masonry-brick
    <img src="http://placehold.it/500x200&text=Item">