// Place all the styles related to the artist_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.number {
	font-size:5em;
	line-height:1em;
	margin-bottom:0;
}

// .box{
// 	border:2px red solid;
// }

.current_step {
	color:black;
}