// Place all the styles related to the Artist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist_career {
	background-color:red;
	float:left;
}

.about_artist {
	background-color:red;
}

.portfolio_tattoos{
	margin:0 auto;
	height:400px;
	width:600px;
	background-color:red;
}

.social {
	background-color:red;
}

.artist_page p {
	font-size:1em;
}