// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_container {
  position:fixed;
  height:100%;
  width:100%;
  min-height:100%;
  height: auto !important;
  margin: 0 auto -4em;
  min-width:1150px;
  margin-top: 45px;
}

.sign_up.input, .log_in.input{
  width: 75%;
  /*margin:1em;*/
}

.sign_up {
  margin-left:15%;
  width:25em;
  height: 500px;
  display:inline-block;
  padding:1em;
  border-radius:5px;
  margin-top:2em;
  background-color: black;
  background-color: rgba(0,0,0,.5);
  color:white;
  h2 {
    color:white;
  }
  label,abbr {
    color:white;
  }

}

.box_container{
  min-width:1200px;
}

.top-bar {
  margin-bottom:0;
}

.row {
  margin-bottom:0;
  margin-top:-60px;
}

.log_in {
  display:inline-block;
  height: 500px;
  width:25em;
  padding:1em;
  border-radius:5px;
  float:right;
  margin-right:15%;
  margin-top:2em;
  background-color: black;
  background-color: rgba(0,0,0,.5);
  color:white;
  h2 {
    color:white;
  }
  label {
    color:white;
  }

}

.login_background {
  margin-top: 15px;
  background: url(mban.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.push{
  height:23em;
}

.footer {
  height: 200px;
  clear: both !important;
}

.active {
  background-color: rgba(0,0,0,.75);
}

.sign_btn {
  opacity:1;
  display:inline;
}

.left {
  margin:0 auto;
}
