// Place all the styles related to the Tattoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accentColor: #0e0e49;
#photo_div{
	float: left;
	width:40%;
	margin-right:5%;
	min-height:400px;

}

#comments {
	padding-top:1em;
	clear: both;
}

.title {
	margin-bottom:0;
	font-weight:bold;
	text-transform:uppercase;
}

.comment_content {
	margin-bottom:0;
}

.user{
	font-style:italic;
	color:#005038;
}

#pic {
	margin-bottom:10px;
}